body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: rgb(94, 87, 87);
}

canvas {
  position: absolute;
}

/* Spielfeld */
#cnv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid rgb(4, 0, 255);
  background-color: black;
}

#joystick {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background: transparent;
}

#fire {
  position: absolute;
  bottom: 5%;
  left: 5%;
  background: transparent;
}

#infoBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(30, 30, 30, 0.9);
  color: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  font-family: sans-serif;
}

#infoBox button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#gameOver{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width:100%; 
  height:100%; 
  background: rgba(0,0,0,0.8); 
  color:white; 
  font-size: 48px;  
  align-items:center; 
  justify-content:center; 
  flex-direction: column;
}